defaults: &defaults
  host: 'http://example.org'
  
  # The time in seconds after that a pod in maintenance is marked as inactive (default one week, 604800)
  inactive: 604800
  
  # The time in seconds after that a pod should be rechecked (default 10 minutes, 600) 
  check_every: 600
  
  # run ./script/get_geoip.dat and leave this unchanged
  geoip:
    country_db: "vendor/geoip_country.dat"
  
  faraday:
    # Debian, Archlinux: "/etc/ssl/certs/ca-certificates.crt"
    ca_file: "/etc/ssl/certs/ca-certificates.crt"
    
    # Timeout in seconds before a pod is "offline" (default 5 minutes, 300)
    timeout: 300
  
  mailer:
    enable: true
    address: 'mail.example.org'
    port: 25
    domain: 'example.org'
    authentication: 'plain'
    user: 'foobar'
    password: 'notme'
    starttls_auto: true

development:
  <<: *defaults

production:
  <<: *defaults

test:
  <<: *defaults
