- skip_owner ||= false
- skip_acceptation_state ||= true
- skip_country ||= false
%table
  %tr
    %th #
    %th Name
    - unless skip_owner
      %th Owner
    %th Reliability
    - unless skip_country
      %th Country
    %th Score
    %th Stars
    - unless skip_acceptation_state
      %th Accepted
  = render pods, :skip_owner => skip_owner, :skip_acceptation_state => skip_acceptation_state, :skip_country => skip_country
