%table
  %tr
    %th #
    %th Name
    - unless skip_owner
      %th Owner
    %th Reliability
    %th Country
    %th Score
    %th Stars
    - if display_acceptation_state
      %th Accepted
  = render pods, :skip_owner => skip_owner, :display_acceptation_state => display_acceptation_state
